body{
    margin: 0;
    padding: 0;
    background-color: #5F8AC1;
}

#page{
    margin: 80px auto 0px auto;
    width: 960px;
}

#site_title{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 21px;
}

#content_wrapper{
    height: 400px;
    padding: 5px;
    background: white;
    box-shadow: 0px 0px 28px #000000;
    moz-box-shadow: 0px 0px 28px #000000;
    webkit-box-shadow: 0px 0px 28px #000000;
}

#content_wrapper h1{
    text-align: center;
    vertical-align: middle;
    font-size: 46px;
}

#content_wrapper h2{
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

#content_wrapper a{
    color: red;
}

#left_column{
    width: 640px;
    height: 400px;
    overflow: hidden;
    float: left;
}

#img_wrapper{
    width: 640px;
    height: 400px;
}

#right_column{
    width: 280px;
    height: 400px;
    padding: 0px 0px 0px 20px;
    overflow: hidden;
    float: left;
}

#question_number{
    text-align: right;
    font-size: 14px;
    color: gray;
}

#site_name{
    margin: 20px 0px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    height: 110px;
    overflow: hidden;
}

#question p{
    margin: 40px 0px 0px 0px;
    font-size: 20px;
}

#question label{
    font-size: 18px;
    line-height: 150%;
}

#question li{
    font-size: 18px;
    line-height: 150%;
}

#question label:hover{
    color: gray;
}
