<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="en" http-equiv="Content-Language"/>
    <meta content="en" scheme="RFC3066" name="DC.Language"/>
	<title>UNESCO World Heritage Sites Quiz</title>
	{% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
	<link href="{{ STATIC_PREFIX }}css/styles.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="page">
        <div id="site_title">UNESCO World Heritage Site Quiz</div>
        <div id="content_wrapper">
		    {% if returning %}
		        {% if current_question %}
		            <h1 align="center">Welcome Back!  </p><a href="/quiz/{{current_question}}/question/">Resume Quiz</a></h1>
                {% else %}
                    <h1 align="center">Welcome Back!  </p><a href="/quiz/{{quiz_id}}/new_question/">Resume Quiz</a></h1>
                {% endif %}
		    {% else %}
		        <h1 align="center"><a href="/quiz/new_quiz/">Start Quiz Now</a></h1>
	        {% endif %}
        </div>
    </div>
</body>
</html>
